<section>
    <div class="cards">
        <div class="card ">
            <img src="imgs/OIP.jfif" alt="">
            <h2>PROJETO-1</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. non cumque!</p>
            <a href="">Leia mais</a>
        </div>
        <div class="card">
            <img src="imgs/OIP.jfif" alt="">
            <h2>PROJETO-1</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. non cumque!</p>
            <a href="">Leia mais</a>
        </div>
        <div class="card">
            <img src="imgs/OIP.jfif" alt="">
            <h2>PROJETO-1</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. non cumque!</p>
            <a href="">Leia mais</a>
        </div>
        <div class="card">
            <img src="imgs/OIP.jfif" alt="">
            <h2>PROJETO-1</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. non cumque!</p>
            <a href="">Leia mais</a>
        </div>
    </div>
</section>