<section>
    <div class="container">
        <div class="text">
            <h1>Portfolio</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate quaerat consectetur distinctio tempore commodi incidunt vitae consequatur. Odio beatae sint, incidunt ipsa quas laudantium quisquam totam voluptas eius quidem numquam!</p>
        </div>
        <div class="buttons">
            <button class="select">Projetos</button> <button>Certificados</button> <button>Habilidades Tecnicas</button>
        </div>
        <div class="content">
            <app-projetos />
        </div>
    </div>
</section>