<section>
    <div class="container">
        <div class="col">
            <h1>TITULO</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, perspiciatis! Voluptatem non laborum exercitationem, maiores quam, quod blanditiis suscipit in nesciunt repellat quaerat eaque aut! Iure animi nisi eaque sint!</p>
            <a href=""></a>
            <div class="tecs">
                <div class="icons">OLA</div>
            </div>
        </div>
        <div class="col">
            <video src="video/videoteste.mp4" [autoplay]="true" [loop]="true" [muted]="true"></video>
        </div>
    </div>
</section>